@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
}

body {
   
    background-color: rgb(220, 220, 220);
}

#mano {
    width: 90px;
    animation-name: animacionmano;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-timing-function: ease-in;
}

@keyframes animacionmano {


    0% {
        transform: translateX(939px);
    }

    
    50% {
        
        transform: translateX(839px);
    }

    75% {
        transform: translateX(939px);
    }


    100% {

        transform: translateX(439px);
    }

}


h1 {
    position: absolute;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    width: 100%;
    color: rgb(220, 220, 220);
    background-color: rgb(255, 85, 0);
    border: 2px solid rgb(81, 81, 81); 
    padding: 10px;
    width: 500px;
    height: 100px;
    margin: 0% 0%;
    color: rgb(240, 240, 240);
    box-shadow: 3px 3px 3px rgba(81, 81, 81, 0.3) ;
    
    
    animation-name: animacionnombre;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-timing-function: ease-in;
     

    
}

@keyframes animacionnombre {


    0% {
        transform: translateX(1000px);
    }

    
    50% {
        
        transform: translateX(180%);
    }

    75% {
        transform: translateX(200%);
    }


    100% {

        transform: translateX(100%);
    }

}

h2 {
    margin: 15px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 100%;
    color: rgb(240, 240, 240);
    padding: 10px;
    background-color: rgb(255, 85, 0);
}

p{
    text-align: center;
    color: rgb(81, 81, 81);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}


header a {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: rgb(220, 220, 220);
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    border: 1px solid rgb(81, 81, 81);
    width: 110px;
    height: 30px;
    display: block;
    margin: 20px auto;
    line-height:23px;
    padding: 3px;
    box-shadow: 3px 3px 3px rgba(81, 81, 81, 0.7) ;
    background-image: linear-gradient(rgb(255, 85, 0), rgb(220, 220, 220) );
    transition: all 50ms;
    
}



header a:hover {
background-image: linear-gradient(rgb(220, 220, 220), rgb(255, 85, 0) );
color: rgb(255, 85, 0);
box-shadow: none ;
}

main {

width: 90%;
margin: 15px auto;
display: flex;
flex-wrap:wrap;
/*hacer que si los contenedores no entran, es decir su suma supera el width del contenedor padre, entonces se van debajo generando una nueva fila*/
justify-content: space-between;


}


div {

width: 30%;

}

main b {
width: 30%;
text-align: center;
color: rgb(240, 240, 240);
background-color: rgb(255, 85, 0); 
padding: 3px;
font-family: Arial, Helvetica, sans-serif;
    
}

#flecha1 {
width: 30%;
transform: rotate(-75deg);
position: absolute;
top: -20%;
left: -20%
}

#video1 {

width: 40%;
margin: 20px auto;
display: flex;
flex-wrap:wrap;
/*hacer que si los contenedores no entran, es decir su suma supera el width del contenedor padre, entonces se van debajo generando una nueva fila*/
justify-content: space-between;
border: 2px solid rgb(81, 81, 81); 
position: relative;
}

    
#video2 {

width: 40%;
margin:20px auto;
display: flex;
flex-wrap:wrap;
/*hacer que si los contenedores no entran, es decir su suma supera el width del contenedor padre, entonces se van debajo generando una nueva fila*/
justify-content: space-between;
border: 2px solid rgb(81, 81, 81); 
        
}

img, video { width: 100%;}